%flex-center {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}

.filter {
@extend %flex-center;
padding: 1rem;
margin: 1rem 4rem;
border-bottom: 0.1rem #f6f6f6 solid;



    div{
        flex: 1;
    }

    select{
        outline: none;
        padding: .5rem;
        margin-left: .5rem;
        border-radius: 15px;
    } 
 
}
