%flex-center {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}

.filter {
@extend %flex-center;
padding: 1rem;
margin: 1rem;
border-bottom: 0.1rem #c0c0c0 solid;


    div{
        flex: 1;
    }

    select{
        outline: none;
  
    }   
}
