@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

%normalize_link {
    text-decoration: none;
    outline: none;
    text-decoration: none !important;
}

//Typefaces
$headers: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;

//colors
$primary: #000;
$secondary: #d3d3d3;
$accent: #000;

html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0px;
}

body,
#root{
        margin: 0;
        font-family: $body;
        height:100vh;  
        font-size: 1.6rem; 
}   

.grid-container {
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;

    a {
        @extend %normalize_link;
    }
}

a:hover {
    opacity: 90%;
}

header{
    grid-area: header;
    color: #fff;
    background-color: $primary;
    display: flex;
    align-items: center;
    padding: .5rem;
     
    a{
        color: white;
    }

}
    
main {
    grid-area: main;
}

.content{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.main{
    flex: 4 39rem;
    height: 100vh;
 
    a{
        color: #000;
    }
}

.sidebar{
    flex: 1 20rem;
    align-self: flex-start;
    position: sticky;
    top: 0px;
    background-color: rgba($color: #f6f6f6, $alpha: .8);
    border-bottom-left-radius: 30px;

}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    a{
        @extend %normalize_link;
        margin-left: .5rem;
        color: #ffc7c7;
    }
    a:hover{
        transform: scale(1.1);
    }
}

//media Queries
@media only screen and (max-width: 767px){
    .sidebar{
        display: none;
    }
}
